version: "3.5"
services:
  beacon-chain:
    build:
      context: beacon-chain
      args:
        UPSTREAM_VERSION: v4.0.7
    volumes:
      - "beacon-chain-data:/data"
    ports:
      - "12603:12603/tcp"
      - "12603:12603/udp"
    restart: unless-stopped
    environment:
      P2P_PORT: 12603
      CHECKPOINT_SYNC_URL: ""
      EXTRA_OPTS: ""
      LOG_VERBOSITY: info
  validator:
    build:
      context: validator
      args:
        UPSTREAM_VERSION: v4.0.7
    volumes:
      - "validator-data:/data"
    restart: unless-stopped
    environment:
      LOG_VERBOSITY: info
      GRAFFITI: validating_from_DAppNode
      EXTRA_OPTS: ""
      FEE_RECIPIENT_ADDRESS: ""
volumes:
  beacon-chain-data: {}
  validator-data: {}
